# Cast wise Basic Analysis
<h6>C_Cast.csv Created (Child)

In [1]:
import pandas as pd
import numpy as np

In [2]:
cd = pd.read_csv('P_cast.csv')
cd.head(4)

,Location,Social Category,Girls,Boys,Overall,Girls.1,Boys.1,Overall.1,Girls.2,Boys.2,Overall.2
0,AHMEDABAD,General,0.00,0.00,0.00,0.00,0.00,0.00,8.02,12.34,10.54
1,AHMEDABAD,OBC,0.64,1.10,0.89,9.37,4.14,6.46,18.43,23.13,21.40
2,AHMEDABAD,SC,0.00,0.00,0.00,0.00,4.13,1.26,0.00,10.65,6.08
3,AHMEDABAD,ST,5.92,5.72,5.81,9.68,13.69,12.07,24.31,10.94,16.57

In [3]:
dis = cd.sort_values('Location')

In [4]:
general = []
obc = []
sc= []
st = []
total = []
temp = 0
for i in range(len(cd)):
    if cd['Social Category'][i] == 'General':
        sg = cd['Overall'][i] + cd['Overall.1'][i] + cd['Overall.2'][i]
        temp = temp + sg
        general.append(sg)
        sg= 0
    if cd['Social Category'][i] == 'OBC':
        so = cd['Overall'][i] + cd['Overall.1'][i] + cd['Overall.2'][i]
        temp = temp + so
        obc.append(so)
        so=0
    if cd['Social Category'][i] == 'SC':
        ssc = cd['Overall'][i] + cd['Overall.1'][i] + cd['Overall.2'][i]
        temp = temp + ssc
        sc.append(ssc)
        ssc = 0
    if cd['Social Category'][i] == 'ST':
        sst = cd['Overall'][i] + cd['Overall.1'][i] + cd['Overall.2'][i]
        temp = temp + sst 
        st.append(sst)
        total.append(temp)
        temp = 0
        sst =0

In [5]:
CombinationForTheCast =  list(zip(general,obc,sc,st , total))

In [6]:
Cast = pd.DataFrame(CombinationForTheCast , columns=['general' , 'obc' , 'sc' , 'st' , 'overall' ])

In [7]:
Cast.head()

   general    obc     sc      st  overall
0    10.54  28.75   7.34   34.45    81.08
1     6.97  18.72   4.70  144.60   174.99
2    31.52  26.10  25.75   35.95   119.32
3    31.79  32.11  31.68   44.44   140.02
4    30.24  16.21  22.30   39.60   108.35

In [8]:
Cast.to_csv('Cast.csv')