# Cast Wise Prediction

In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn import metrics

In [2]:
cd = pd.read_csv('Cast.csv')
cd

     Unnamed: 0  general    obc     sc      st  overall
0             0    10.54  28.75   7.34   34.45    81.08
1             1     6.97  18.72   4.70  144.60   174.99
2             2    31.52  26.10  25.75   35.95   119.32
3             3    31.79  32.11  31.68   44.44   140.02
4             4    30.24  16.21  22.30   39.60   108.35
..          ...      ...    ...    ...     ...      ...
285         285     8.36  31.75  23.52   64.62   128.25
286         286    15.59  22.72  14.11   20.08    72.50
287         287     0.00  37.30   0.00   27.81    65.11
288         288    11.08  56.71  45.86   52.79   166.44
289         289    14.25  10.83  52.65   21.56    99.29

[290 rows x 6 columns]

In [3]:
del cd['Unnamed: 0']
cd.head()

   general    obc     sc      st  overall
0    10.54  28.75   7.34   34.45    81.08
1     6.97  18.72   4.70  144.60   174.99
2    31.52  26.10  25.75   35.95   119.32
3    31.79  32.11  31.68   44.44   140.02
4    30.24  16.21  22.30   39.60   108.35

In [4]:
d1 = { 'general' : 0 , 'obc' : 0 , 'sc' : 0 , 'st' : 0  , 'overall' : 0}

In [5]:
cd.append(d1 , ignore_index=True).head(3)

C:\Users\malan\AppData\Local\Temp\ipykernel_10708\2155556461.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cd.append(d1 , ignore_index=True).head(3)

   general    obc     sc      st  overall
0    10.54  28.75   7.34   34.45    81.08
1     6.97  18.72   4.70  144.60   174.99
2    31.52  26.10  25.75   35.95   119.32

In [6]:
cd.describe()

          general        obc          sc          st     overall
count  290.000000  290.00000  290.000000  290.000000  290.000000
mean    24.590310   35.01800   34.403483   40.922172  134.933966
std     21.557001   19.02819   23.166217   28.730276   70.118682
min      0.000000    0.00000    0.000000    0.000000    0.000000
25%     13.562500   25.42750   21.372500   25.020000   97.697500
50%     21.170000   34.09000   30.895000   36.425000  123.360000
75%     29.845000   41.64500   41.430000   50.120000  160.230000
max    205.750000  167.08000  193.250000  218.200000  558.870000

In [7]:
x = cd[['overall']]     # d
y = cd[['general' , 'obc' , 'sc' , 'st']] # i

In [8]:
x_train, x_test, y_train, y_test = train_test_split(x,y,random_state=135,test_size=0.1 , train_size=0.9)
# mean of the all cast use in Random_state

In [9]:
lm = LinearRegression()

In [10]:
lm.fit(x_train, y_train)

LinearRegression()

In [11]:
lm.coef_

array([[0.20061358],
       [0.21801433],
       [0.27858077],
       [0.30279132]])

In [12]:
lm.intercept_

array([-2.87339111,  6.00291965, -2.62679823, -0.50273031])

In [13]:
lm.predict(x_train)

array([[26.56865747, 37.99870295, 38.25771601, 43.93492358],
       [12.24284192, 22.43029953, 18.36426301, 22.31259553],
       [35.19303515, 47.37113906, 50.23390344, 56.95192235],
       ...,
       [25.89459585, 37.2661748 , 37.32168461, 42.91754475],
       [16.44369023, 26.99551963, 24.1977444 , 28.65304574],
       [24.92162   , 36.20880529, 35.97056786, 41.44900685]])

In [14]:
def Prediction_for_the_Cast(l1):
    return lm.predict([l1]).tolist()

In [15]:
value = cd['overall'].sum() / len(cd)
l1 = [22.12]
Final_data = Prediction_for_the_Cast(l1)
print(f'GENERAL : {Final_data[0][0]} \nOBC : {Final_data[0][1]} \nSC : {Final_data[0][2]} \nST : {Final_data[0][3]}')

GENERAL : 1.564181213961768
OBC : 10.825396661120873
SC : 3.5354084705068933
ST : 6.195013654410396

C:\Users\malan\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(