In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression , LogisticRegression
from sklearn import metrics

In [2]:
dd = pd.read_csv('District.csv')
dd.head(2)

,Location,Social Category,Girls,Boys,Overall,Girls.1,Boys.1,Overall.1,Girls.2,Boys.2,Overall.2
0,AHMEDABAD,General,0.00,0.0,0.00,0.00,0.00,0.00,8.02,12.34,10.54
1,AHMEDABAD,OBC,0.64,1.1,0.89,9.37,4.14,6.46,18.43,23.13,21.40

In [3]:
AHMEDABAD = []
AMRELI = []
ANAND = []
ARAVALLI = []
BANAS_KANTHA = []
BHARUCH = [] 
BHAVNAGAR = []
BOTAD = [] 
CHHOTAUDEPUR = []
DEVBHOOMI_DWARKA = []
DOHAD = []
GANDHINAGAR = []
GIR_SOMNATH = []
JAMNAGAR = []
JUNAGADH = [] 
KACHCHH = []
KHEDA = []
MAHESANA = []
MAHISAGAR = []
MORBI = []
NARMADA = [] 
NAVSARI = []
PANCH_MAHALS = []
PATAN = []
PORBANDAR = []
RAJKOT = []
SABAR_KANTHA = []
SURENDRANAGAR = []
SURAT = []
TAPI = [] 
THE_DANGS = []
VADODARA = []
VALSAD = []

for i in range(len(dd)):
    if dd['Location'][i] == 'AHMEDABAD':
        AHMEDABAD.append([dd['Boys'][i] , dd['Boys.1'][i] , dd['Boys.2'][i] ,dd['Girls'][i] ,dd['Girls.1'][i], dd['Girls.1'][i]])
    if dd['Location'][i] == 'AMRELI':
        AMRELI.append([dd['Boys'][i] , dd['Boys.1'][i] , dd['Boys.2'][i] ,dd['Girls'][i] ,dd['Girls.1'][i], dd['Girls.1'][i]])
    if dd['Location'][i] == 'ANAND':
        ANAND.append([dd['Boys'][i] , dd['Boys.1'][i] , dd['Boys.2'][i] ,dd['Girls'][i] ,dd['Girls.1'][i], dd['Girls.1'][i]])
    if dd['Location'][i] == 'ARAVALLI':
        ARAVALLI.append([dd['Boys'][i] , dd['Boys.1'][i] , dd['Boys.2'][i] ,dd['Girls'][i] ,dd['Girls.1'][i], dd['Girls.1'][i]])
    if dd['Location'][i] == 'BANAS KANTHA':
        BANAS_KANTHA.append([dd['Boys'][i] , dd['Boys.1'][i] , dd['Boys.2'][i] ,dd['Girls'][i] ,dd['Girls.1'][i], dd['Girls.1'][i]])
    if dd['Location'][i] == 'BHARUCH':
        BHARUCH.append([dd['Boys'][i] , dd['Boys.1'][i] , dd['Boys.2'][i] ,dd['Girls'][i] ,dd['Girls.1'][i], dd['Girls.1'][i]])
    if dd['Location'][i] == 'BHAVNAGAR':
        BHAVNAGAR.append([dd['Boys'][i] , dd['Boys.1'][i] , dd['Boys.2'][i] ,dd['Girls'][i] ,dd['Girls.1'][i], dd['Girls.1'][i]])
    if dd['Location'][i] == 'BOTAD':
        BOTAD.append([dd['Boys'][i] , dd['Boys.1'][i] , dd['Boys.2'][i] ,dd['Girls'][i] ,dd['Girls.1'][i], dd['Girls.1'][i]])
    if dd['Location'][i] == 'CHHOTAUDEPUR':
        CHHOTAUDEPUR.append([dd['Boys'][i] , dd['Boys.1'][i] , dd['Boys.2'][i] ,dd['Girls'][i] ,dd['Girls.1'][i], dd['Girls.1'][i]])
    if dd['Location'][i] == 'DEVBHOOMI DWARKA':
        DEVBHOOMI_DWARKA.append([dd['Boys'][i] , dd['Boys.1'][i] , dd['Boys.2'][i] ,dd['Girls'][i] ,dd['Girls.1'][i], dd['Girls.1'][i]])
    if dd['Location'][i] == 'DOHAD':
        DOHAD.append([dd['Boys'][i] , dd['Boys.1'][i] , dd['Boys.2'][i] ,dd['Girls'][i] ,dd['Girls.1'][i], dd['Girls.1'][i]])
    if dd['Location'][i] == 'GANDHINAGAR':
        GANDHINAGAR.append([dd['Boys'][i] , dd['Boys.1'][i] , dd['Boys.2'][i] ,dd['Girls'][i] ,dd['Girls.1'][i], dd['Girls.1'][i]])
    if dd['Location'][i] == 'GIR SOMNATH':
        GIR_SOMNATH.append([dd['Boys'][i] , dd['Boys.1'][i] , dd['Boys.2'][i] ,dd['Girls'][i] ,dd['Girls.1'][i], dd['Girls.1'][i]])
    if dd['Location'][i] == 'JAMNAGAR':
        JAMNAGAR.append([dd['Boys'][i] , dd['Boys.1'][i] , dd['Boys.2'][i] ,dd['Girls'][i] ,dd['Girls.1'][i], dd['Girls.1'][i]])
    if dd['Location'][i] == 'JUNAGADH':
        JUNAGADH.append([dd['Boys'][i] , dd['Boys.1'][i] , dd['Boys.2'][i] ,dd['Girls'][i] ,dd['Girls.1'][i], dd['Girls.1'][i]])
    if dd['Location'][i] == 'KACHCHH':
        KACHCHH.append([dd['Boys'][i] , dd['Boys.1'][i] , dd['Boys.2'][i] ,dd['Girls'][i] ,dd['Girls.1'][i], dd['Girls.1'][i]])
    if dd['Location'][i] == 'KHEDA':
        KHEDA.append([dd['Boys'][i] , dd['Boys.1'][i] , dd['Boys.2'][i] ,dd['Girls'][i] ,dd['Girls.1'][i], dd['Girls.1'][i]])
    if dd['Location'][i] == 'MAHESANA':
        MAHESANA.append([dd['Boys'][i] , dd['Boys.1'][i] , dd['Boys.2'][i] ,dd['Girls'][i] ,dd['Girls.1'][i], dd['Girls.1'][i]])
    if dd['Location'][i] == 'MAHISAGAR':
        MAHISAGAR.append([dd['Boys'][i] , dd['Boys.1'][i] , dd['Boys.2'][i] ,dd['Girls'][i] ,dd['Girls.1'][i], dd['Girls.1'][i]])
    if dd['Location'][i] == 'MORBI':
        MORBI.append([dd['Boys'][i] , dd['Boys.1'][i] , dd['Boys.2'][i] ,dd['Girls'][i] ,dd['Girls.1'][i], dd['Girls.1'][i]])
    if dd['Location'][i] == 'NARMADA':
        NARMADA.append([dd['Boys'][i] , dd['Boys.1'][i] , dd['Boys.2'][i] ,dd['Girls'][i] ,dd['Girls.1'][i], dd['Girls.1'][i]])
    if dd['Location'][i] == 'NAVSARI':
        NAVSARI.append([dd['Boys'][i] , dd['Boys.1'][i] , dd['Boys.2'][i] ,dd['Girls'][i] ,dd['Girls.1'][i], dd['Girls.1'][i]])
    if dd['Location'][i] == 'PANCH MAHALS':
        PANCH_MAHALS.append([dd['Boys'][i] , dd['Boys.1'][i] , dd['Boys.2'][i] ,dd['Girls'][i] ,dd['Girls.1'][i], dd['Girls.1'][i]])
    if dd['Location'][i] == 'PATAN':
        PATAN.append([dd['Boys'][i] , dd['Boys.1'][i] , dd['Boys.2'][i] ,dd['Girls'][i] ,dd['Girls.1'][i], dd['Girls.1'][i]])
    if dd['Location'][i] == 'PORBANDAR':
        PORBANDAR.append([dd['Boys'][i] , dd['Boys.1'][i] , dd['Boys.2'][i] ,dd['Girls'][i] ,dd['Girls.1'][i], dd['Girls.1'][i]])
    if dd['Location'][i] == 'RAJKOT':
        RAJKOT.append([dd['Boys'][i] , dd['Boys.1'][i] , dd['Boys.2'][i] ,dd['Girls'][i] ,dd['Girls.1'][i], dd['Girls.1'][i]])
    if dd['Location'][i] == 'SABAR KANTHA':
        SABAR_KANTHA.append([dd['Boys'][i] , dd['Boys.1'][i] , dd['Boys.2'][i] ,dd['Girls'][i] ,dd['Girls.1'][i], dd['Girls.1'][i]])
    if dd['Location'][i] == 'SURAT':
        SURAT.append([dd['Boys'][i] , dd['Boys.1'][i] , dd['Boys.2'][i] ,dd['Girls'][i] ,dd['Girls.1'][i], dd['Girls.1'][i]])
    if dd['Location'][i] == 'SURENDRANAGAR':
        SURENDRANAGAR.append([dd['Boys'][i] , dd['Boys.1'][i] , dd['Boys.2'][i] ,dd['Girls'][i] ,dd['Girls.1'][i], dd['Girls.1'][i]])
    if dd['Location'][i] == 'TAPI':
        TAPI.append([dd['Boys'][i] , dd['Boys.1'][i] , dd['Boys.2'][i] ,dd['Girls'][i] ,dd['Girls.1'][i], dd['Girls.1'][i]])
    if dd['Location'][i] == 'THE DANGS':
        THE_DANGS.append([dd['Boys'][i] , dd['Boys.1'][i] , dd['Boys.2'][i] ,dd['Girls'][i] ,dd['Girls.1'][i], dd['Girls.1'][i]])
    if dd['Location'][i] == 'VADODARA':
        VADODARA.append([dd['Boys'][i] , dd['Boys.1'][i] , dd['Boys.2'][i] ,dd['Girls'][i] ,dd['Girls.1'][i], dd['Girls.1'][i]])
    if dd['Location'][i] == 'VALSAD':
        VALSAD.append([dd['Boys'][i] , dd['Boys.1'][i] , dd['Boys.2'][i] ,dd['Girls'][i] ,dd['Girls.1'][i], dd['Girls.1'][i]])

In [4]:
# Convert the 2D List into the 1D List
def List_con(l1):
    temp = []
    for i in l1:
        if type(i) == list:
            for j in i:
                temp.append(j)
        else:
            temp.append(i)
    return temp
x = List_con(AHMEDABAD)
print(sum(x))

2023.3599999999994

In [5]:
x1 = sum(List_con(AHMEDABAD))

In [6]:
dic = {'AHMEDABAD' : sum(List_con(AHMEDABAD)) ,'AMRELI' : sum(List_con(AMRELI)) ,'ANAND' : sum(List_con(ANAND)) ,'ARAVALLI' : sum(List_con(ARAVALLI)) ,'BANAS_KANTHA' : sum(List_con(BANAS_KANTHA)) ,'BHARUCH' : sum(List_con(BHARUCH))  ,'BHAVNAGAR' : sum(List_con(BHAVNAGAR)) ,'BOTAD' : sum(List_con(BOTAD))  ,'CHHOTAUDEPUR' : sum(List_con(CHHOTAUDEPUR)) ,'DEVBHOOMI_DWARKA' : sum(List_con(DEVBHOOMI_DWARKA)) ,'DOHAD' : sum(List_con(DOHAD)) ,'GANDHINAGAR' : sum(List_con(GANDHINAGAR)) ,'GIR_SOMNATH' : sum(List_con(GIR_SOMNATH)) ,'JAMNAGAR' : sum(List_con(JAMNAGAR)) ,'JUNAGADH' : sum(List_con(JUNAGADH))  ,'KACHCHH' : sum(List_con(KACHCHH)) ,'KHEDA' : sum(List_con(KHEDA)) ,'MAHESANA' : sum(List_con(MAHESANA)) ,'MAHISAGAR' : sum(List_con(MAHISAGAR)) ,'MORBI' : sum(List_con(MORBI)) ,'NARMADA' : sum(List_con(NARMADA))  ,'NAVSARI' : sum(List_con(NAVSARI)) ,'PANCH_MAHALS' : sum(List_con(PANCH_MAHALS)) ,'PATAN' : sum(List_con(PATAN)) ,'PORBANDAR' : sum(List_con(PORBANDAR)) ,'RAJKOT' : sum(List_con(RAJKOT)) ,'SABAR_KANTHA' : sum(List_con(SABAR_KANTHA)) ,'SURENDRANAGAR' : sum(List_con(SURENDRANAGAR)) ,'SURAT' : sum(List_con(SURAT)) ,'TAPI' : sum(List_con(TAPI))  ,'THE_DANGS' : sum(List_con(THE_DANGS)) ,'VADODARA' : sum(List_con(VADODARA)) ,'VALSAD' : sum(List_con(VALSAD)) }

In [7]:
ddata = pd.DataFrame(dic,index=['overall']).T

In [8]:
ddata.columns

Index(['overall'], dtype='object')

In [9]:
dl = []
for i in range(len(ddata)):
    temp  = ( ddata['overall'][i] / sum(ddata['overall']) ) * 100
    dl.append(temp)

In [10]:
ddata['(%)'] = dl

In [12]:
ddata

                  overall       (%)
AHMEDABAD         2023.36  3.130978
AMRELI            1988.10  3.076416
ANAND             1566.34  2.423778
ARAVALLI           868.32  1.343651
BANAS_KANTHA      2306.78  3.569546
BHARUCH           1824.07  2.822593
BHAVNAGAR         2607.35  4.034653
BOTAD             1474.86  2.282221
CHHOTAUDEPUR      1745.79  2.701462
DEVBHOOMI_DWARKA  1946.66  3.012291
DOHAD             1962.99  3.037560
GANDHINAGAR        996.87  1.542572
GIR_SOMNATH       1188.66  1.839350
JAMNAGAR          3122.36  4.831587
JUNAGADH          1983.63  3.069499
KACHCHH           2847.36  4.406048
KHEDA             1982.93  3.068416
MAHESANA          1555.68  2.407283
MAHISAGAR         1181.19  1.827791
MORBI             1707.14  2.641654
NARMADA           2166.46  3.352413
NAVSARI           1210.59  1.873285
PANCH_MAHALS      2583.41  3.997608
PATAN             2113.97  3.271189
PORBANDAR         2053.79  3.178066
RAJKOT            2033.58  3.146792
SABAR_KANTHA      2237.76  3.462744
SURENDRANAGAR     2594.88  4.015357
SURAT             1450.47  2.244479
TAPI              1999.37  3.093855
THE_DANGS         3376.15  5.224306
VADODARA          2427.17  3.755840
VALSAD            1495.86  2.314716

In [102]:
y= ddata[['(%)']]
x = ddata[['overall']]

In [103]:
x_train , x_test , y_train , Y_test = train_test_split(x,y,random_state=34,train_size=0.8 , test_size=0.2)

In [104]:
lm = LinearRegression()

In [105]:
lm.fit(x_train, y_train)

LinearRegression()

In [107]:
lm.predict([[34553]])

C:\Users\malan\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([[53.46783466]])