In [1]:
import pandas as pd
read = pd.read_csv('district.csv')
read

,d1,d2,d3,d4,d5,d6,d7,d8,d9,d10,...,d24,d25,d26,d27,d28,d29,d30,d31,d32,d33
0,0.03122,0.03094,0.02952,0.03048,0.0306,0.03018,0.03126,0.03116,0.0307,0.02974,...,0.0305,0.03004,0.02874,0.03072,0.03022,0.03052,0.03084,0.02972,0.03022,0.03046

In [3]:
l1=[]
for index in read:
    l1.append(index)

In [11]:
read1 = pd.read_csv('entity.csv')
read1.head()

   entity  value
0       0      0
1       0      0
2       0      0
3       0      0
4       0      0

In [12]:
read1['entity'] = l1
read1.head()

  entity  value
0     d1      0
1     d2      0
2     d3      0
3     d4      0
4     d5      0

In [16]:
l3=[]
for index in read.index:
    for value in range(0,33):
        l3.append( read[l1[value]][index] )

In [17]:
print(l3)

[0.03122, 0.03094, 0.02952, 0.03048, 0.0306, 0.03018, 0.03126, 0.03116, 0.0307, 0.02974, 0.02976, 0.0301, 0.03162, 0.0305, 0.03102, 0.03012, 0.03092, 0.03006, 0.02888, 0.0292, 0.031, 0.02906, 0.02998, 0.0305, 0.03004, 0.02874, 0.03072, 0.03022, 0.03052, 0.03084, 0.02972, 0.03022, 0.03046]

In [18]:
read1['value'] = l3

In [19]:
read1.to_csv('final_data_2.csv')