In [1]:
import pandas as pd
read = pd.read_csv('basic.csv')
read

,male,female,age_1,age_2,age_3,age_4,age_5,sc,st,obc,general
0,0.5021,0.4979,0.20042,0.20104,0.20136,0.19812,0.19906,0.25136,0.25122,0.24858,0.24884

In [41]:
l1=[]
for index in read:
    l1.append(index)

In [42]:
print(l1)

['male', 'female', 'age_1', 'age_2', 'age_3', 'age_4', 'age_5', 'sc', 'st', 'obc', 'general']

In [57]:
read1 = pd.read_csv('entity.csv')

In [47]:
read1['entity'] = l1

In [51]:
l2=[]
for index in read.index:
    for value in range(0,11):
        l2.append( read[l1[value]][index] )

In [52]:
print(l2)

[0.5021, 0.4979, 0.20042, 0.20104, 0.20136, 0.19812, 0.19906, 0.25136, 0.25122, 0.24858, 0.24884]

In [54]:
read1['value'] = l2

In [55]:
read1.to_csv('final_data_1.csv')