In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
# liner regression model:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn import metrics
# polynomial feture 
from sklearn.preprocessing import PolynomialFeatures

In [2]:
maindata = pd.read_csv('Data.csv')

In [3]:
maindata.head()

,Location,Social Category,PrimaryGirls,PrimaryBoys,PrimaryOverall,UpperGirls,UpperBoys,UpperOverall,SecondGirls,SecondBoys,SecondOverall
0,AHMEDABAD,General,0.00,0.00,0.00,0.00,0.00,0.00,8.02,12.34,10.54
1,AHMEDABAD,OBC,0.64,1.10,0.89,9.37,4.14,6.46,18.43,23.13,21.40
2,AHMEDABAD,SC,0.00,0.00,0.00,0.00,4.13,1.26,0.00,10.65,6.08
3,AHMEDABAD,ST,5.92,5.72,5.81,9.68,13.69,12.07,24.31,10.94,16.57
4,AMRELI,General,0.87,0.00,0.00,0.00,0.00,0.00,1.56,11.80,6.97

In [4]:
def School_And_Gender_wise_prediction():
    print("All value with there %".center(100,'='))
    # primary data
    print('Primary'.center(100,'-'))
    # train and test model split :
    x = maindata[['PrimaryOverall']]
    y = maindata[['PrimaryBoys' , 'PrimaryGirls']]
    x_train, x_test, y_train, y_test = train_test_split(x, y,random_state=12 ,test_size=0.25 )
    
    # liner regression model called
    linermodel = LinearRegression()
    linermodel.fit(x_train,y_train)
    
    # primary school Predication mean value of the all the data :->
    x = linermodel.predict([[maindata['PrimaryOverall'].mean()]]).tolist()
    print("boys : ",x[0][0] / (x[0][1] + x[0][0]))
    print("Girls : ",x[0][1] / (x[0][1] + x[0][0]))
    print("R2 Square ", metrics.r2_score(linermodel.predict(x_test) , y_test) )
    print('MEA : ',metrics.mean_absolute_error(linermodel.predict(x_test) , y_test) , "\n\n")
    
    # upper Primary Data :
    print('Upper Primary'.center(100,'-'))
    x1 = maindata[['UpperOverall']]
    y1 = maindata[['UpperBoys' , 'UpperGirls']]
    x1_train, x1_test, y1_train, y1_test = train_test_split(x1,y1, random_state=4 , test_size=0.25 )
    # fir the model 
    linermodel.fit(x1_train,y1_train)
    # prediction for the data :
    x11 = linermodel.predict([[maindata['UpperOverall'].mean()]]).tolist()
    print("boys : ",x11[0][0] / (x11[0][1] + x11[0][0]))
    print("Girls : ",x11[0][1] / (x11[0][1] + x11[0][0]))
    print("R2 Square ", metrics.r2_score(linermodel.predict(x1_test) , y1_test) )
    print('MEA : ',metrics.mean_absolute_error(linermodel.predict(x1_test) , y1_test) , "\n\n")
    
    # secondary data : 
    print('Secondary'.center(100,'-'))
    x2 = maindata[['SecondOverall']]
    y2 = maindata[['SecondBoys' , 'SecondGirls']]
    x2_train, x2_test, y2_train, y2_test = train_test_split(x2,y2, random_state=12 , test_size=0.25 )
    # fir the model 
    linermodel.fit(x2_train,y2_train)
    # prediction for the data :
    x22 = linermodel.predict([[maindata['UpperOverall'].mean()]]).tolist()
    print("boys : ",x22[0][0] / (x22[0][1] + x22[0][0]))
    print("Girls : ",x22[0][1] / (x22[0][1] + x22[0][0]) )
    print("R2 Square ", metrics.r2_score(linermodel.predict(x2_test) , y2_test) )
    print('MEA : ',metrics.mean_absolute_error(linermodel.predict(x2_test) , y2_test),"\n\n" )
    print('School Category'.center(100 , '-'))
    te = (x[0][1] + x[0][0] + x11[0][1] + x11[0][0] + x22[0][1] + x22[0][0] ) 
    print("Primary OverALL : ",(x[0][1] + x[0][0]) / te)
    #upper
    print("Upper OverALL : ",(x11[0][1] + x11[0][0]) / te)     
    # second
    print("Second OverALL : ", (x22[0][1] + x22[0][0] ) /  te , "\n\n")
    print("Wornings")

In [5]:
# implement the Polynomial regression :

In [6]:
School_And_Gender_wise_prediction()

=======================================All value with there %=======================================
----------------------------------------------Primary-----------------------------------------------
boys :  0.49272690851899126
Girls :  0.5072730914810089
R2 Square  0.9542536594044685
MEA :  0.696091929884425


-------------------------------------------Upper Primary--------------------------------------------
boys :  0.42561732399579805
Girls :  0.5743826760042019
R2 Square  0.956312661237577
MEA :  1.45316639026304


---------------------------------------------Secondary----------------------------------------------
boys :  0.6126614497732403
Girls :  0.38733855022675967
R2 Square  0.9014130917910546
MEA :  2.5302372609141512


------------------------------------------School Category-------------------------------------------
Primary OverALL :  0.20235731214213307
Upper OverALL :  0.40225795107336726
Second OverALL :  0.3953847367844997


Wornings

C:\Users\malan\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(
C:\Users\malan\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(
C:\Users\malan\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [7]:
# polynomial regression

In [8]:
df = maindata.sort_values('Location')
df.head(2)

,Location,Social Category,PrimaryGirls,PrimaryBoys,PrimaryOverall,UpperGirls,UpperBoys,UpperOverall,SecondGirls,SecondBoys,SecondOverall
0,AHMEDABAD,General,0.00,0.00,0.00,0.00,0.00,0.00,8.02,12.34,10.54
633,AHMEDABAD,OBC,18.12,18.26,18.19,26.75,19.81,22.98,35.95,39.83,38.35

# School Category :

In [9]:
y = df[['PrimaryOverall',  'UpperOverall' , 'SecondOverall']]
x = df[['PrimaryBoys' ,'PrimaryGirls' ,'UpperBoys' ,'UpperGirls','SecondBoys' , 'SecondGirls']]

In [10]:
x_train,x_test,y_train,y_test = train_test_split(x,y,random_state=12, test_size=0.25)

In [11]:
#print("degree------R2-----------------MAe-----------------------lr")
#for i in range(0,11):
poly = PolynomialFeatures(degree=1)
poly.fit(x_train)
x_train_poly = poly.transform(x_train)
x_test_poly = poly.transform(x_test)

lr = LinearRegression()
lr.fit(x_train_poly,y_train)

prediction = lr.predict(x_test_poly)
print("R2_error : ", metrics.r2_score(prediction , y_test))
print("MEA : ",metrics.mean_absolute_error(prediction, y_test))
print("Liner Regression Score", lr.score(x_test_poly , y_test))

R2_error :  0.9975564896645664
MEA :  0.2310586705071315
Liner Regression Score 0.9975938672878865

In [12]:
temp = lr.predict([[df['PrimaryBoys'].mean() ,df['PrimaryGirls'].mean() , df['UpperBoys'].mean(), df['UpperGirls'].mean() , df['SecondBoys'].mean() , df['SecondGirls'].mean() , 1  ]]).tolist()

In [13]:
print("Using Polynomial Regression : ".center(100 , '-'))
print("Prediction Of the School Category is :".center(100 , '-'))
print('Primary : ' , temp[0][0]/sum(temp[0]) )
print('Upper : ', temp[0][1] / sum(temp[0]))
print('Second : ' ,temp[0][2] / sum(temp[0]))

-----------------------------------Using Polynomial Regression : -----------------------------------
-------------------------------Prediction Of the School Category is :-------------------------------
Primary :  0.15068544837265652
Upper :  0.4790429157550515
Second :  0.370271635872292