In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('generated_data.csv')

In [4]:
data.head()

Empty DataFrame
Columns: [orphan, social_category, minority_group, bpl_beneficiary, ews_group, cwsn, mother's_occupation, father's_occupation, mother's_qualification, father's_qualification, family_annual_income, debt, mental_issues, results_in_previous_year_type, status_in_previous_year, dropout_student, age_group, district, gender, label, dropout]
Index: []

[0 rows x 21 columns]

In [ ]:
for ind in data.index: