In [12]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LinearRegression,LogisticRegression
from sklearn import metrics
from sklearn.model_selection import train_test_split

In [2]:
dd = pd.read_csv('P_gender.csv')

In [3]:
dd.head()

,Location,Social Category,Girls,Boys,Overall,Girls.1,Boys.1,Overall.1,Girls.2,Boys.2,Overall.2
0,AHMEDABAD,General,0.00,0.00,0.00,0.00,0.00,0.00,8.02,12.34,10.54
1,AHMEDABAD,OBC,0.64,1.10,0.89,9.37,4.14,6.46,18.43,23.13,21.40
2,AHMEDABAD,SC,0.00,0.00,0.00,0.00,4.13,1.26,0.00,10.65,6.08
3,AHMEDABAD,ST,5.92,5.72,5.81,9.68,13.69,12.07,24.31,10.94,16.57
4,AMRELI,General,0.87,0.00,0.00,0.00,0.00,0.00,1.56,11.80,6.97

In [4]:
boys=[]
girls = []
overall = []
for i in range(len(dd)):
    Gtemp = dd['Girls'][i] + dd['Girls.1'][i] + dd['Girls.2'][i]
    Btemp = dd['Boys'][i] + dd['Boys.1'][i] + dd['Boys.2'][i]
    Otemp = Gtemp + Btemp
    girls.append(Gtemp)
    boys.append(Btemp)
    overall.append(Otemp)

In [5]:
GenderData = list(zip(boys,girls,overall))

In [6]:
final_Gender_Data = pd.DataFrame(GenderData , columns=['Male' , 'Female' , 'Overall'])

In [7]:
final_Gender_Data.to_csv('C_gender.csv')

In [9]:
final_Gender_Data.describe()

              Male       Female      Overall
count  1160.000000  1160.000000  1160.000000
mean     34.558336    32.950914    67.509250
std      23.873712    25.178034    47.953628
min       0.000000     0.000000     0.000000
25%      21.282500    18.150000    40.452500
50%      31.170000    29.510000    60.880000
75%      41.775000    41.087500    82.910000
max     216.030000   220.710000   436.740000

In [10]:
x = final_Gender_Data[['Overall']]
y = final_Gender_Data[['Male' , 'Female']]

In [13]:
x_train, x_test, y_train, y_test = train_test_split(x, y , random_state=67 , train_size=0.8 , test_size =  0.2)

In [14]:
lm = LinearRegression()

In [15]:
lm.fit(x_train, y_train)

LinearRegression()

In [16]:
lm.coef_

array([[0.48510918],
       [0.51489082]])

In [17]:
lm.intercept_

array([ 1.74112641, -1.74112641])

In [18]:
predict = lm.predict(x_test)

In [19]:
Mean_error = metrics.mean_absolute_error(y_test , predict)

In [20]:
def prediction_gender(l1):
    return lm.predict([l1]).tolist()

In [23]:
obj = sum(final_Gender_Data['Overall']) / len(final_Gender_Data)
ol = [obj]
pre = prediction_gender(ol)
print(f'Male : {pre[0][0]} \nFemale : {pre[0][1]}')

Male : 34.4904829981256
Female : 33.018767001874444

C:\Users\malan\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(