In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures

In [3]:
df = pd.read_csv('DropOut.csv')
df.head()

,Location,Social Category,Girls,Boys,Overall,Girls.1,Boys.1,Overall.1,Girls.2,Boys.2,Overall.2
0,AHMEDABAD,General,0.00,0.00,0.00,0.00,0.00,0.00,8.02,12.34,10.54
1,AHMEDABAD,OBC,0.64,1.10,0.89,9.37,4.14,6.46,18.43,23.13,21.40
2,AHMEDABAD,SC,0.00,0.00,0.00,0.00,4.13,1.26,0.00,10.65,6.08
3,AHMEDABAD,ST,5.92,5.72,5.81,9.68,13.69,12.07,24.31,10.94,16.57
4,AMRELI,General,0.87,0.00,0.00,0.00,0.00,0.00,1.56,11.80,6.97

In [4]:
df.columns

Index(['Location', 'Social Category', 'Girls', 'Boys', 'Overall', 'Girls.1',
       'Boys.1', 'Overall.1', 'Girls.2', 'Boys.2', 'Overall.2'],
      dtype='object')

In [5]:
x = df[['Girls' , 'Boys']]
y = df[['Overall']]

In [7]:
x_train, x_test, y_train, y_test  = train_test_split(x,y, random_state=123, test_size=.25)

In [ ]:
poly = po