In [ ]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import PolynomialFeatures
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn import metrics

In [ ]:
df= pd.read_csv('Data.csv')
df =df.sort_values('Location')

In [40]:
def schooldata_acc(boys,girls,overall):
    x = df[[boys ,girls]]
    y = df[[overall]]
    x_train,x_test,y_train,y_test = train_test_split(x,y,random_state=12 , test_size=0.25)
    temp = []
    for i in range(8):
        poly = PolynomialFeatures(degree=i)
        poly.fit(x_train)
        x_train_poly = poly.transform(x_train)
        x_test_poly = poly.transform(x_test)
        lr = LinearRegression()
        lr.fit(x_train_poly,y_train)
        prediction = lr.predict(x_test_poly)
        temp.append(metrics.r2_score(prediction, y_test))
        
    return temp

In [43]:
primary = schooldata_acc('PrimaryBoys' ,'PrimaryGirls' , 'PrimaryOverall')
secondary = schooldata_acc('UpperBoys' , 'UpperGirls', 'UpperOverall')
highersecondary = schooldata_acc('SecondBoys' ,'SecondGirls' ,'SecondOverall')

# Cast Wise Accuracy test

In [18]:
cast = df.sort_values('Social Category')

In [20]:
tempcast = cast['PrimaryBoys'] + cast['PrimaryGirls'] + cast['UpperBoys'] + cast['UpperGirls'] + cast['SecondBoys'] + cast['SecondGirls']
tempcastoverall = cast['PrimaryOverall'] + cast['UpperOverall'] + cast['SecondOverall']
Location = df['Location']
tempcat = df['Social Category']

In [21]:
cast = pd.DataFrame(zip(Location,tempcat,tempcast,tempcastoverall) , columns=['Loc' ,'Social Category','All Boys and Girls' , 'Overall'])

In [22]:
tempgeneral = cast[cast['Social Category']== 'General' ]['All Boys and Girls'].tolist()
tempgeneraloverall = cast[cast['Social Category'] == 'General' ]['Overall'].tolist()

tempobc = cast[cast['Social Category']== 'OBC' ]['All Boys and Girls'].tolist()
tempobcoverall = cast[cast['Social Category'] == 'OBC' ]['Overall'].tolist()

tempsc = cast[cast['Social Category']== 'SC' ]['All Boys and Girls'].tolist()
tempscoverall = cast[cast['Social Category'] == 'SC' ]['Overall'].tolist()

tempst = cast[cast['Social Category']== 'ST' ]['All Boys and Girls'].tolist()
tempstoverall = cast[cast['Social Category'] == 'ST' ]['Overall'].tolist()

In [23]:
cast = pd.DataFrame(zip(tempgeneral,tempgeneraloverall,tempobc,tempobcoverall,tempsc,tempscoverall,tempst,tempstoverall),columns=['general' , 'generaloverall' ,'obc' ,'obcoverall', 'sc' ,'scoverall','st','stoverall'])

In [27]:
cast.head()

,general,generaloverall,obc,obcoverall,sc,scoverall,st,stoverall
0,20.36,10.54,33.51,17.11,36.80,14.96,45.30,22.61
1,41.10,20.74,33.06,16.89,29.19,14.26,27.79,13.63
2,37.60,19.60,88.61,43.28,298.16,148.77,0.00,0.00
3,26.00,13.54,20.07,10.04,76.51,38.68,51.39,26.09
4,53.23,25.57,35.27,20.10,22.89,11.89,0.00,0.00

In [32]:
def Cast_acc(normal,overall):
    x = cast[[normal]]
    y = cast[[overall]]
    x_train,x_test,y_train,y_test = train_test_split(x,y,random_state=12, test_size=0.25)
    temp = []
    for i in range(8):
        poly = PolynomialFeatures(degree=i)
        poly.fit(x_train)
        x_train_poly = poly.transform(x_train)
        x_test_poly = poly.transform(x_test)
        lr = LinearRegression()
        lr.fit(x_train_poly,y_train)
        prediction = lr.predict(x_test_poly)
        temp.append(metrics.r2_score(prediction, y_test))
    return temp

In [37]:
general = Cast_acc('general' ,'generaloverall')
obc = Cast_acc('obc' ,'obcoverall')
sc = Cast_acc('sc' , 'scoverall')
st = Cast_acc('st' , 'stoverall')

# Gender Wise accuracy

In [45]:
temp_gender = df[[ 'Location' ,'PrimaryBoys' , 'PrimaryGirls' , 'UpperBoys', 'UpperGirls' ,'SecondBoys' ,'SecondGirls' ,'PrimaryOverall' , 'UpperOverall','SecondOverall']]

In [46]:
tempboy = temp_gender['PrimaryBoys'] + temp_gender['UpperBoys'] + temp_gender['SecondBoys']
tempgirl = temp_gender['PrimaryGirls'] + temp_gender['UpperGirls'] + temp_gender['SecondGirls']
tempoverall = temp_gender['PrimaryOverall'] + temp_gender['UpperOverall'] + temp_gender['SecondOverall']

In [53]:
final_gender = pd.DataFrame(zip(tempboy,tempgirl,tempoverall) , columns=['boys' ,'girls' , 'overall'])
final_gender.head(2)

    boys  girls  overall
0  12.34   8.02    10.54
1  77.90  80.82    79.52

In [51]:
def Gender_acc(mf , overall):
    y = final_gender[[mf]]
    x = final_gender[[overall]]
    temp = []
    
    for i in range(8):
        poly = PolynomialFeatures(degree=i)
        poly.fit(x_train)
        x_train_poly = poly.transform(x_train)
        x_test_poly = poly.transform(x_test)
        lr = LinearRegression()
        lr.fit(x_train_poly,y_train)
        prediction = lr.predict(x_test_poly)
        temp.append(metrics.r2_score(prediction, y_test))
    return temp

In [55]:
boys = Gender_acc('boys' ,'overall')
gir

[-1.3943815815116839e+29,
 0.9975564896645664,
 0.9971764786442313,
 0.9830890819697534,
 0.602565312452664,
 -0.006798257542059242,
 -0.0024847491084402464,
 -0.004947635477955403]